node_modules
.next
.git
.gitignore
data
*.db
*.db-shm
*.db-wal
pics_depot_mappings.json
pics_meta.json
steam-depots.json
steam-apps.json
.env*
README.md
Dockerfile
docker-compose.yml
npm-debug.log*
.DS_Store
